html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

div .fa-mug-hot,
div .fa-martini-glass-citrus,
div .fa-pizza-slice {
  width: 18px;
  height: 18px;
}

.button-section > button {
  width: 100px;
  height: 35px;
}

ul {
  list-style-type: none;
  padding: 0 10px;
}

.page-container {
  display: flex;
  height: 100svh;
}

.side-bar-container {
  flex-basis: 300px;
  background: #000;
}

.maps-container {
  flex-grow: 1;
}

.category {
  padding: 10px 0;
  background: #000;
  color: #fff;
  border-bottom: #fff 1px solid;
}

.category-list {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, height 0.5s ease;
}

.category-list.show {
  opacity: 1;
  height: auto; 
}

